*.in
*.out
*.ans
*.diff
*.jar
static/workplace/users/*
static/workplace/std/*
static/workplace/input/*
static/workplace/input_official/*
**/__pycache__
data.db
__pycache__/*.pyc
*_local.py
*in.txt
*out.txt
*.log
*.pyc
*.txt
debug/pai.sh