<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/foo.png') }}">
    <title>说明</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="orange">
    <div class="container white z-depth-5"
        style="width: 60%;height:width;margin-top:5%;padding-top:4%;padding-bottom:5%;margin-bottom:10%;border-radius: 50px;">
        <h1 class="center-align" style="margin:auto">说明</h1>


        <div style="margin:50px 10%;">
            <p class="grey-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你说得对，但是《DPO在线评测系统》是由
                <span class="black-text">q</span><span class="red-text">uanshr</span>和
                <span class="green-text text-darken-1">cxccxc</span>
                自主研发的一款全新在线评测系统。评测发生在一个被称作「JVM」的幻想世界，在这里被OO选中的同学可以体验到
                「自动化评测」，引导「面向数据点编程」之力。你将扮演一位名为「内测用户」的神秘角色，在自由的在线评测系统中邂逅性格各异、
                能力独特的数据点，和他们一起击败「程序bug」，通过「最终强测」的同时，逐步发掘「6系课设」的真相。

            </p>
            <p>免责声明：在此OJ上通过测试不代表一定能通过强测</p>
            <p></p>
        </div>

        <div class="center-align">
            <button class="btn waves-effect waves-light orange" id="toindex" style="width: 100px; margin-top:5%;" type="button">
                返回</button>
        </div>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $("#toindex").on('click',function(){
            window.location.href="./index";
        });
    </script>
</body>

</html>