<!DOCTYPE html>
<html class="no-js" lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户注册 - 洛谷</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
        <meta name="csrf-token" content="1682854005:8tmgxHWBnAeRbXwardFCZT5Rrbv+5WL3ZHSJJE1mEWw=">
        <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' luogu.com.cn *.luogu.com.cn luogu.org *.luogu.org *.cnzz.com luoguprivate.oss-cn-hangzhou.aliyuncs.com luogu.oss-cn-hangzhou.aliyuncs.com wss: blob:; img-src * data:; font-src * data:; frame-src https://player.bilibili.com https://www.bilibili.com">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen"/>
    <link rel="stylesheet" href="https://cdn.luogu.com.cn/fe/loader.css?ver=20230228-2">
    <script>window._feInjection = JSON.parse(decodeURIComponent("%7B%22code%22%3A200%2C%22currentTemplate%22%3A%22AuthRegister%22%2C%22currentData%22%3A%7B%22suspensionReason%22%3Anull%7D%2C%22currentTitle%22%3A%22%5Cu7528%5Cu6237%5Cu6ce8%5Cu518c%22%2C%22currentTheme%22%3Anull%2C%22currentTime%22%3A1682767605%7D"));window._feConfigVersion=1682361516;window._tagVersion=1682766394;</script>
    <script src="https://cdn.luogu.com.cn/fe/loader.js?ver=20230228-2" charset="utf-8" defer></script>
</head>
<body>
<div id="app">
    <div class="lg-container">
            </div>
</div>
<!-- <script src="//www.recaptcha.net/recaptcha/api.js?hl=zh-CN&render=explicit&onload=renderCaptcha" async defer></script> -->
</body>
</html>
